@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dongle:wght@700&family=Fredoka+One&family=Poppins:wght@200&display=swap");
.principal .categoriaEdades .containEdades .ctgaEdades .ctga1 div, .principal .categoriaEdades .containEdades .ctgaEdades .ctga2 div, .principal .categoriaEdades .containEdades .ctgaEdades .ctga3 div, .principal .categoriaEdades .containEdades .ctgaEdades .ctga4 div, .principal .categoriaEdades .containEdades .ctgaEdades .ctga5 div, .principal .categoriaEdades .containEdades .ctgaEdades .ctga6 div {
  width: 100%;
  height: 40%;
  border: 1px;
  background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)); }

.principal .hero div a, .principal .categoriasProductos .categoria1 div a,
.principal .categoriasProductos .categoria2 div a,
.principal .categoriasProductos .categoria3 div a,
.principal .categoriasProductos .categoria4 div a, .principal .productosDestacados .destacadosContenedor .tarjetaProd div a, .principal .categoriaEdades .containEdades .ctgaEdades .ctga1 div a, .principal .categoriaEdades .containEdades .ctgaEdades .ctga2 div a, .principal .categoriaEdades .containEdades .ctgaEdades .ctga3 div a, .principal .categoriaEdades .containEdades .ctgaEdades .ctga4 div a, .principal .categoriaEdades .containEdades .ctgaEdades .ctga5 div a, .principal .categoriaEdades .containEdades .ctgaEdades .ctga6 div a, .main .categoriaGenero .generoGirl a, .main .categoriaGenero .generoBoys a, .main .boysContenedor .cardBoys a, .main .girlsContenedor .cardGirls a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  background-color: dimgray;
  padding: 10px 15px;
  border-radius: 50px; }

.principal .hero div a:hover {
  background-color: white;
  color: dimgray; }

.principal .categoriasProductos .categoria1 div a:hover,
.principal .categoriasProductos .categoria2 div a:hover,
.principal .categoriasProductos .categoria3 div a:hover,
.principal .categoriasProductos .categoria4 div a:hover, .principal .productosDestacados .destacadosContenedor .tarjetaProd div a:hover, .principal .categoriaEdades .containEdades .ctgaEdades .ctga1 div a:hover, .principal .categoriaEdades .containEdades .ctgaEdades .ctga2 div a:hover, .principal .categoriaEdades .containEdades .ctgaEdades .ctga3 div a:hover, .principal .categoriaEdades .containEdades .ctgaEdades .ctga4 div a:hover, .principal .categoriaEdades .containEdades .ctgaEdades .ctga5 div a:hover, .principal .categoriaEdades .containEdades .ctgaEdades .ctga6 div a:hover, .main .categoriaGenero .generoGirl a:hover, .main .categoriaGenero .generoBoys a:hover, .main .boysContenedor .cardBoys a:hover, .main .girlsContenedor .cardGirls a:hover {
  background-color: #E66165;
  color: white; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%; }

body {
  font-family: 'Bebas Neue', cursive;
  font-family: 'Dongle', sans-serif;
  font-family: 'Fredoka One', cursive;
  font-family: 'Poppins', sans-serif;
  color: dimgray; }

/**----------MENU----------**/
.navbar {
  grid-area: menu;
  min-width: 490px;
  position: sticky;
  top: 0;
  max-width: 3000px; }

/**-----FIXED------**/
.fixed {
  position: fixed;
  bottom: 10px;
  right: 20px; }
  .fixed img {
    width: 50px;
    height: 50px; }

/**----------HEADER----------**/
.header, .headerProductos1 {
  text-align: center;
  width: 100%;
  max-width: 3000px;
  min-width: 490px;
  height: 1.5rem;
  background-color: black;
  color: white; }
  .header p span, .headerProductos1 p span {
    font-weight: bold; }

/**-----PRODUCTOS----**/
.gridProductos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 4fr auto 6fr;
  grid-template-areas: "header header" "menu menu" "principal principal" "pie pie"; }
  .gridProductos .headerProductos1 {
    grid-area: header; }

/**-----INDEX-----**/
.principal .hero {
  text-align: center;
  width: 100%;
  min-width: 480px;
  height: 80vh;
  background-image: url("../img/top-view-colourful-summer-lettering.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap; }
  .principal .hero div h1 {
    font-weight: 900px;
    color: white;
    margin-bottom: 20px;
    font-size: 100px;
    font-family: 'Dongle', sans-serif; }

.principal .categoriasProductos {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border-bottom: 20px;
  flex-wrap: wrap;
  min-width: 250px;
  width: 100%; }
  .principal .categoriasProductos .categoria1,
  .principal .categoriasProductos .categoria2,
  .principal .categoriasProductos .categoria3,
  .principal .categoriasProductos .categoria4 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: auto;
    border: 1px solid #868686; }
    .principal .categoriasProductos .categoria1 div img,
    .principal .categoriasProductos .categoria2 div img,
    .principal .categoriasProductos .categoria3 div img,
    .principal .categoriasProductos .categoria4 div img {
      width: 252px;
      height: 250px; }
    .principal .categoriasProductos .categoria1 div,
    .principal .categoriasProductos .categoria2 div,
    .principal .categoriasProductos .categoria3 div,
    .principal .categoriasProductos .categoria4 div {
      width: 100%;
      height: auto;
      text-align: center;
      margin: 15px;
      display: flex;
      flex-direction: column;
      align-items: center; }

.principal .productosDestacados {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap; }
  .principal .productosDestacados h2 {
    font-size: bold; }
  .principal .productosDestacados p {
    font-size: 20px;
    text-align: center; }
  .principal .productosDestacados .destacadosContenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    .principal .productosDestacados .destacadosContenedor .tarjetaProd {
      border: 1px solid #868686;
      width: 227px;
      height: 300px;
      margin: 1px;
      text-align: center;
      display: flex;
      justify-content: start;
      align-items: center;
      flex-direction: column; }
      .principal .productosDestacados .destacadosContenedor .tarjetaProd img {
        width: 225px;
        height: 225px;
        margin-bottom: 25px; }

.principal .categoriaEdades {
  margin: 20px; }
  .principal .categoriaEdades .tituloCtgra {
    text-align: center; }
    .principal .categoriaEdades .tituloCtgra h2 {
      text-align: center; }
    .principal .categoriaEdades .tituloCtgra p {
      font-size: 20px;
      text-align: center; }
  .principal .categoriaEdades .containEdades {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .principal .categoriaEdades .containEdades .ctgaEdades {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .principal .categoriaEdades .containEdades .ctgaEdades .ctga1 {
        background-image: url("../img/beba4.jfif");
        background-position-y: 0px;
        background-size: cover;
        background-repeat: no-repeat;
        border: 1px solid #868686;
        width: 400px;
        height: 250px;
        margin: 0px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        text-align: center; }
        .principal .categoriaEdades .containEdades .ctgaEdades .ctga1 div h3 {
          margin-bottom: 20px; }
      .principal .categoriaEdades .containEdades .ctgaEdades .ctga2 {
        background-image: url("../img/loockjardinerobebe.jpg");
        background-position-y: 0px;
        background-size: cover;
        background-repeat: no-repeat;
        border: 1px solid #868686;
        width: 400px;
        height: 250px;
        margin: 0px;
        text-align: center;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column; }
        .principal .categoriaEdades .containEdades .ctgaEdades .ctga2 div h3 {
          margin-bottom: 20px; }
      .principal .categoriaEdades .containEdades .ctgaEdades .ctga3 {
        background-image: url("../img/lookmininena.jpg");
        background-position-y: 0px;
        background-size: cover;
        background-repeat: no-repeat;
        border: 1px solid #868686;
        width: 400px;
        height: 250px;
        margin: 0px;
        text-align: center;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column; }
        .principal .categoriaEdades .containEdades .ctgaEdades .ctga3 div h3 {
          margin-bottom: 20px; }
      .principal .categoriaEdades .containEdades .ctgaEdades .ctga4 {
        background-image: url("../img/front-view-smiling-cute-kid-in-white-t-shirt-holding-skateboard-on-the-blue-floor.jpg");
        background-position-y: 0px;
        background-size: cover;
        background-repeat: no-repeat;
        border: 1px solid #868686;
        width: 400px;
        height: 250px;
        margin: 0px;
        text-align: center;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column; }
        .principal .categoriaEdades .containEdades .ctgaEdades .ctga4 div h3 {
          margin-bottom: 20px; }
      .principal .categoriaEdades .containEdades .ctgaEdades .ctga5 {
        background-image: url("../img/loockjuniornena.jpg");
        background-position-y: 0px;
        background-size: cover;
        background-repeat: no-repeat;
        border: 1px solid #868686;
        width: 400px;
        height: 250px;
        margin: 0px;
        text-align: center;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column; }
        .principal .categoriaEdades .containEdades .ctgaEdades .ctga5 div h3 {
          margin-bottom: 20px; }
      .principal .categoriaEdades .containEdades .ctgaEdades .ctga6 {
        background-image: url("../img/loockjuniorvaron2.jpg");
        background-position-y: 0px;
        background-size: cover;
        background-repeat: no-repeat;
        border: 1px solid #868686;
        width: 400px;
        height: 250px;
        margin: 0px;
        text-align: center;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column; }
        .principal .categoriaEdades .containEdades .ctgaEdades .ctga6 div h3 {
          margin-bottom: 20px; }

/**-----PRODUCTOS----**/
.main {
  grid-area: principal;
  display: flex;
  flex-direction: column; }
  .main .categoriaGenero {
    display: flex;
    justify-content: space-around; }
    .main .categoriaGenero .generoGirl {
      background-image: url(../img/pretty-girl-with-long-hair-hugging-inflatable-swimming-circle.jpg);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: column;
      width: 50%;
      height: 250px;
      flex-wrap: wrap; }
      .main .categoriaGenero .generoGirl h2 {
        margin: 5px;
        padding: 5px; }
    .main .categoriaGenero .generoBoys {
      background-image: url(../img/front-view-smiling-cute-kid-in-white-t-shirt-holding-skateboard-on-the-blue-floor.jpg);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: column;
      width: 50%;
      height: 250px;
      flex-wrap: wrap; }
      .main .categoriaGenero .generoBoys h2 {
        margin: 5px;
        padding: 5px; }
  .main h2 {
    margin: 5px;
    padding: 5px; }
  .main .boysContenedor {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    .main .boysContenedor .cardBoys {
      border: 1px solid #868686;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap; }
      .main .boysContenedor .cardBoys img {
        margin-bottom: 5px;
        width: 210px;
        height: 290px; }
  .main h2 {
    margin: 5px;
    padding: 5px; }
  .main .girlsContenedor {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    .main .girlsContenedor .cardGirls {
      border: 1px solid #868686;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap; }
      .main .girlsContenedor .cardGirls img {
        margin-bottom: 5px;
        width: 210px;
        height: 290px; }

/**---------QUIENES SOMOS--------**/
.somos {
  display: flex;
  flex-direction: column; }
  .somos div img {
    width: 50%; }
  .somos div h3 {
    font-weight: 100px;
    font-size: bold; }
  .somos div h2 {
    font-weight: 100PX;
    text-align: start; }
  .somos div p {
    text-align: start; }
  .somos div {
    display: flex; }
    .somos div p {
      text-align: start; }
    .somos div iframe {
      width: 300px;
      height: auto; }

/**-------CONTACTO--------**/
.contactoForm {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap; }
  .contactoForm h2 {
    margin-top: 10px;
    padding: 20px;
    font-weight: bold; }
  .contactoForm form .containForm {
    width: 100%;
    background-color: #f000007e;
    color: white;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
    .contactoForm form .containForm .datos1 {
      display: flex;
      margin-bottom: 10px;
      flex-wrap: wrap; }
    .contactoForm form .containForm .datos2 {
      display: flex;
      margin-bottom: 20px;
      flex-wrap: wrap; }
      .contactoForm form .containForm .datos2 div {
        margin: 0px 54px 20px 20px; }

/**-----GUIA DE TALLES----**/
.guiaTalles img {
  width: 100%;
  max-width: 2000px;
  height: 100%; }

/**---------FOOTER--------**/
.footer {
  grid-area: pie;
  max-width: 3000px;
  min-width: 480px;
  background-color: #f09c60;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column; }
  .footer .footerMain ul {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .footer .footerMain ul li {
      list-style: none; }
      .footer .footerMain ul li a {
        text-decoration: none;
        font-weight: bold;
        color: white;
        margin: 20px; }
  .footer .containPie div {
    margin: 10px; }
  .footer .containPie .redes a img {
    margin: 10px;
    width: 30px;
    height: auto; }

@media screen and (max-width: 560px) {
  .principal .hero {
    text-align: center;
    width: 100%;
    min-width: 480px;
    height: 70vh;
    background-image: url("../img/top-view-colourful-summer-lettering.jpg");
    background-position-x: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; } }

@media screen and (max-width: 490px) {
  .principal .hero {
    text-align: center;
    width: 100%;
    min-width: 490px;
    height: 50vh;
    background-image: url("../img/top-view-colourful-summer-lettering.jpg");
    background-position-x: center;
    background-position-y: top;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; } }

@media screen and (max-width: 460px) {
  .destacadosContenedor .tarjetaProd {
    border: 1px solid #868686;
    width: 296px;
    height: 390px;
    margin: 1px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center; }
  .productosDestacados .destacadosContenedor .tarjetaProd img {
    width: 292.5px;
    height: 292.5px;
    margin-bottom: 30px; } }
