
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dongle:wght@700&family=Fredoka+One&family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Dongle', sans-serif;
    font-family: 'Fredoka One', cursive;
    font-family: 'Poppins', sans-serif;
    color: dimgray;
}

/**-----INDEX-----**/


/**----------HEADER----------**/

.header, .headerProductos{
    text-align: center;
    width: 100%;
    max-width: 3000px;
    min-width: 490px;
    height: 1.5rem;
    background-color: black;
    color: white;
}
.header p span{
    font-weight: bold;
}

/**----------MENU----------**/
.navbar{
    min-width: 490px;
    position: sticky;
    top: 0;
    max-width: 3000px;
}


/**---------PRINCIPAL------------**/

.principal{
    
    max-width: 3000px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.principal .hero{
    text-align: center;
    width: 100%;
    min-width: 480px;
    height: 80vh;
    background-image: url("../img/top-view-colourful-summer-lettering.jpg") ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.principal .hero h1{
    
    font-weight: 900;
    color: white;
    margin-bottom:  20px;
    font-size: 50px; 
}
.principal .hero a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: dimgrey;
    padding: 10px 15px;
    border-radius: 50px;
}

.principal .hero div a:hover{
    background-color: white; 
    color: dimgray;
}

.categoriasProductos{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    border-bottom: 20px;
    flex-wrap: wrap;
    min-width: 250px;
    width: 100%;
    

    
}

.categoriasProductos div div a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: dimgrey;
    padding: 10px 15px;
    border-radius: 50px;

}


.categoriasProductos div img{
    width: 252px;
    height: 250px;
}
.categoria1,
.categoria2,
.categoria3,
.categoria4{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: auto;
    border: 1px solid rgb(134, 134, 134)
    
}
.categoria1 div,
.categoria2 div,
.categoria3 div,
.categoria4 div{
    width: 100%;
    height: auto;
    text-align: center;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



.categoriasProductos  div a:hover{
    background-color: #E66165;
    color: rgb(255, 255, 255);

}

.productosDestacados{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.destacadosContenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.destacadosContenedor .tarjetaProd{
    border: 1px solid rgb(134, 134, 134);
    width: 227px;
    height: 300px;
    margin: 1px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}


.destacadosContenedor .tarjetaProd div a:hover{
    background-color: #E66165;
    color: rgb(255, 255, 255);
}
.productosDestacados .destacadosContenedor .tarjetaProd div a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: dimgrey;
    padding: 10px 15px;
    border-radius: 50px;


}

.productosDestacados .destacadosContenedor .tarjetaProd img{
    width: 225px;
    height: 225px;
    margin-bottom: 25px;
}
.categoriaEdades{
    margin: 20px;
}
.categoriaEdades .tituloCtgra{
    text-align: center

}
.containEdades > .ctdrEdades1, .ctdrEdades2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.containEdades {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.containEdades .ctdrEdades1 div{
    border: 1px solid rgb(134, 134, 134);
    width: 400px;
    height: 250px;
    margin: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end

    
}

.ctdrEdades1 .ctga1{
    background-image: url("../img/beba4.jfif");
    background-position-y: 0px;
    background-size: cover;
    background-repeat: no-repeat;
}
.ctdrEdades1 .ctga1 div{
    height: 40%;
    border: 1px;
    background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75))
}

.ctdrEdades1 .ctga2{
    background-image: url("../img/loockjardinerobebe.jpg");
    background-position-y: 0px;
    background-size: cover;
    background-repeat: no-repeat;
}
.ctdrEdades1 .ctga2 div{
    height: 40%;
    border: 1px;
    background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75))
}
.ctdrEdades1 .ctga3{
    background-image: url("../img/lookmininena.jpg");
    background-position-y: 0px;
    background-size: cover;
    background-repeat: no-repeat;
}
.ctdrEdades1 .ctga3 div{
    height: 40%;
    border: 1px;
    background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75))
}
.ctdrEdades1 .ctga4{
    background-image: url("../img/front-view-smiling-cute-kid-in-white-t-shirt-holding-skateboard-on-the-blue-floor.jpg");
    background-position-y: 0px;
    background-size: cover;
    background-repeat: no-repeat;
}
.containEdades .ctdrEdades1 .ctga4 div{
    height: 40%;
    border: 1px;
    background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75))
}
.ctdrEdades1 .ctga5{
    background-image: url("../img/loockjuniornena.jpg");
    background-position-y: 0px;
    background-size: cover;
    background-repeat: no-repeat;
}
.containEdades .ctdrEdades1 .ctga5 div{
    height: 40%;
    border: 1px;
    background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75))
}
.ctdrEdades1 .ctga6{
    background-image: url("../img/loockjuniorvaron2.jpg");
    background-position-y: 0px;
    background-size: cover;
    background-repeat: no-repeat;
}
.containEdades .ctdrEdades1 .ctga6 div{
    height: 40%;
    border: none;
    background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75))
}
.containEdades .ctdrEdades2 div{
    border: 1px solid rgb(134, 134, 134);
    width: 400px;
    height: 250px;
    margin: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end
    
}
.containEdades .ctdrEdades1 div a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: dimgrey;
    padding: 10px 25px;
    border-radius: 50px;

}
.containEdades .ctdrEdades2 div a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: dimgrey;
    padding: 10px 25px;
    border-radius: 50px;

}
.containEdades .ctdrEdades1 div a:hover{
    background-color: #E66165;
    color: rgb(255, 255, 255);
}
.containEdades .ctdrEdades2 div a:hover{
    background-color: #E66165;
    color: rgb(255, 255, 255);
}
.containEdades .ctdrEdades1 div h3{
    margin-bottom: 20px;

}
.containEdades .ctdrEdades2 div h3{
    margin-bottom: 20px;

}
.containEdades div img{
    width: 200px;
    height: 200px;

}
/**---------FOOTER--------**/

.footer{
    
    max-width: 3000px;
    min-width: 480px;
    background-color: rgb(239, 143, 73);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}
.footer .footerMain ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.footer .containPie div img{
    margin: 10px;
    width: 30px;
    height: auto;
    
    
}
.containPie div{
    margin: 10px;
}
.footerMain a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin: 20px;
}
.footer .footerMain li{
    list-style: none;
}

/**-----FIXED------**/

.fixed{    
    position: fixed;
    bottom: 10px;
    right: 20px;

}
.fixed img{
    width: 50px;
    height: 50px;
}



/**-----GRID PRODUCTOS----**/
/**html *{
    max-width: 100%;
}**/
.gridProductos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr auto 6fr ;
    grid-template-areas: 
    "header header"
    "menu menu"
    "principal principal"
    "pie pie"

    ;
}
/**-------header------**/
.headerProductos1{
    grid-area: header;
    text-align: center;
    width: 100%;
    max-width: 3000px;
    min-width: 490px;
    height: 1.5rem;
    background-color: black;
    color: white;
    

}
.headerProductos1 p span{
    font-weight: bold;
}
/**-------menu------**/
.navbar{
    grid-area: menu;
}
/**--------main-------**/
.main{
    grid-area: principal;
    display: flex;
    flex-direction: column;

}
.categoriaGenero{
    display: flex;
    justify-content: space-around;
}
.generoGirl{
    background-image: url(../img/pretty-girl-with-long-hair-hugging-inflatable-swimming-circle.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    height: 250px;
    flex-wrap: wrap;
}
.generoBoys{
    background-image: url(../img/front-view-smiling-cute-kid-in-white-t-shirt-holding-skateboard-on-the-blue-floor.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 250px;
    flex-wrap: wrap;

}

.generoGirl a,
.generoBoys a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: dimgrey;
    padding: 10px 15px;
    border-radius: 50px;
}
.generoGirl a:hover,
.generoBoys a:hover{
    background-color: #E66165;
    color: rgb(255, 255, 255);
}

.boysContenedor .cardBoys{
    border: 1px solid rgb(134, 134, 134);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}

.boysContenedor,
.girlsContenedor{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.girlsContenedor .cardGirls{
    border: 1px solid rgb(134, 134, 134);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.cardBoys a,
.cardGirls a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: dimgrey;
    margin-bottom: 5px;
    padding: 10px 15px;
    border-radius: 50px;
}
.cardBoys img,
.cardGirls img{
    margin-bottom: 5px;
    width: 210px;
    height: 290px;
}
/**-------pie--------**/
.footer{
    grid-area: pie;
}


/**-----QUIENES SOMOS----**/

.somos div{
    width: 49%;
    float: right;
    
    
}
.somos img{
    width: 50%;


}
.somos h3{
    display: inline-block;
}

.ahora div img{
    width: 300px;
    height: auto;

}
.ahora div{
    display: inline-block;
}
.promos h2{
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
} 

/**-------CONTACTO--------**/

.contactoForm{
    width: 100%;
    height: 100%;
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.contactoForm h2{
    margin-top: 10px;
    padding: 20px;
    font-weight: bold;
}
.contactoForm .containForm{
    width: 100%;
    background-color: #f000007e;
    color: white;
    font-weight: bold;
    text-align: center;
    
}
.containForm{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.containForm .datos1{
    display: flex;
    margin-bottom: 10px;
    flex-wrap: wrap;
}
.containForm .datos1 div{
    margin: 20px;
}
.containForm .datos2{
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.containForm .datos2 div{
    margin: 0px 54px 20px 20px;
}

/**-----GUIA DE TALLES----**/
.guiaTalles img{
    width: 100%;
    max-width: 2000px;
    height: 100%;
}

@media screen and (max-width: 560px) {
    .principal .hero{
        text-align: center;
        width: 100%;
        min-width: 480px;
        height: 70vh;
        background-image: url("../img/top-view-colourful-summer-lettering.jpg") ;
        background-position-x: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 490px) {
    .principal .hero{
        text-align: center;
        width: 100%;
        min-width: 490px;
        height: 50vh;
        background-image: url("../img/top-view-colourful-summer-lettering.jpg") ;
        background-position-x: center;
        background-position-y: top;
        background-size: contain;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 460px) {
    .destacadosContenedor .tarjetaProd{
        border: 1px solid rgb(134, 134, 134);
        width: 296px;
        height: 390px;
        margin: 1px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    
    }
    .productosDestacados .destacadosContenedor .tarjetaProd img{
        width: 292.5px;
        height: 292.5px;
        margin-bottom: 30px;
    }
}

