/**---------FOOTER--------**/

.footer{
    grid-area: pie;
    max-width: 3000px;
    min-width: 480px;
    background-color: rgb(240, 156, 96);
    @include flex(flex, space-around, center, column);
    .footerMain{
        ul{
            margin-top: 15px;
            @include flexcenter(flex, space-between, center);
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    font-weight: bold;
                    color: white;
                    margin: 20px;
                }
            }
        }
    }
    .containPie{
        div{
            margin: 10px;
            .botonlog{
                background-color: #2CAFA2;
                color: white;
                font-family: 'Fredoka One', cursive;
                border-radius: 20px;
                padding: 10px 10px;
                box-shadow: 0 5px 10px -5px rgb(0, 0, 0 / 5%);
                transition: 0.5s;
                &:hover{
                    color: #EF8F49;
                    background-color: white;
                    box-shadow: none;
                    transition: 0.5s;
            }
        }
        .redes{
            a{
                img{
                    margin: 10px;
                    width: 30px;
                    height: auto;
                }
            }
        }
    }
}