/**----------HEADER----------**/
.header, .headerSomos{
    @extend %header;
}

/**-----PRODUCTOS----**/
.gridProductos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 4fr auto 6fr ;
    grid-template-areas: 
    "header header"
    "menu menu"
    "principal principal"
    "pie pie"
    ;
    .headerProductos1{
        grid-area: header;
        width: 100vw;
        max-width: 3000px;
        min-width: 600px;
        @extend %header;
        
    }
}
