@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dongle:wght@700&family=Fredoka+One&family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Dongle', sans-serif;
    font-family: 'Fredoka One', cursive;
    font-family: 'Poppins', sans-serif;
    color: dimgray;
}