
@media screen and (max-width: 960px){
    .somos{
        .somosContain{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            div{
                width: 90%;
            }
            .sobreLara{
                width: 90%;
                
            }
        }
        .locacionContain{
            .descriptionMapa{
                width: 100%;
            }
            .mapa{
                display: flex;
                justify-content: center;
                align-items: center;
                iframe{
                    width: 80%;
                }
            }
        }
    }
}

@media screen and (max-width: 570px) {
    .hero{
        text-align: center;
        width: 100%;
        min-width: 480px;
        height: 70vh;
        background-image: url("../img/top-view-colourful-summer-lettering.jpg") ;
        background-position-x: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    
}
@media screen and (max-width: 490px) {
    .somos{
        .somosContain{
            display: flex;
            align-items: center;
            justify-content: center;
            div{
                width: 90%;
                
            }
            .sobreLara{
                width: 90%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
            }
        }
        .locacionContain{
            min-width: 350px;
            flex-direction: column;
            .descriptionMapa{
                width: 100%;
            }
            .mapa{
                display: flex;
                justify-content: center;
                align-items: center;
                iframe{
                    width: 80%;
                }
            }
        }
    }
}
@media screen and (max-width: 480px) {
    .principal .hero{
        text-align: center;
        width: 100%;
        min-width: 490px;
        height: 50vh;
        background-image: url("../img/top-view-colourful-summer-lettering.jpg") ;
        background-position-x: center;
        background-position-y: top;
        background-size: contain;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}
/**---------QUIENES SOMOS--------**/
/**.somos{
    
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    .somosContain{
        display: flex;
        height: 100%;
        flex-wrap: wrap;
        div{
            img{
                width: 100%;
                min-width: 480px;
                padding: 15px 0px;
            }
        }
        .sobreLara{
            width: 500px;
            min-width: 350px;
            padding: 15px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            flex-wrap: wrap;
        }
        
    }
    .locacionContain{
        width: 100%;
        min-width: 600px;
        height: 50%;
    
        padding: 15px 0px;
        display: flex;
        background-color: #2CAFA2 ;
        text-align: center;
        
        .descriptionMapa{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            color: white;
            width: 100%auto;
            max-width: 50vh;
            min-width: 350px;
        }
        .mapa{
            padding: 15px;
            width: 100%;
            max-width: 50vh;
            iframe{
                
                min-width: 250px;
            
            }
        }
    }
}**/



@media screen and (max-width: 350px) {
    .destacadosContenedor{
        @include flexcenter(flex, space-between, center);
        flex-wrap: wrap;
    }

    /**.destacadosContenedor .tarjetaProd{
        border: 1px solid rgb(134, 134, 134);
        width: 296px;
        height: 390px;
        margin: 1px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .productosDestacados .destacadosContenedor .tarjetaProd img{
        width: 292.5px;
        height: 292.5px;
        margin-bottom: 30px;
    }**/


    /**.somos{
        width: 100%;
    
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        .somosContain{
            display: flex;
            flex-direction: column;
            height: 100%;
            flex-wrap: wrap;
            div{
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 100%;
                    min-width: 490px;
                    padding: 15px 0px;
                }
            }
            .sobreLara{
                width: 100%;
                min-width: 490px;
                padding: 15px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                flex-wrap: wrap;
                font-size: large;
                text-align: center;
                h1{
                    font-weight: bold;
                }
                
            }
            
        }
        .locacionContain{
            width: 100%;
            height: auto;
            max-width: 1920px;
            min-width: 490px;
            padding: 15px 0px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            
            background-color: #2CAFA2 ;
            h2{
                font-weight: bold;
            }
            .descriptionMapa{
                display: flex;
                flex-wrap: wrap;
                color: white;
                font-size: large;
                width: 100%;
                max-width: 50vh;
                min-width: 350px;
            }
            .mapa{
                padding: 15px;
                width: 100%;
                max-width: 50vh;
                iframe{
                    width: 100%;
                    height: 300px;
                    
                
                }
            }
        }
    }**/
}
@media screen and (max-width: 350px) {
    .navbar{
        grid-area: menu;
        min-width: 500px;
        position: sticky;
        top: 0;
        max-width: 100%;
    }
}


