
@media screen and (max-width: 960px){
    .somos{
        .somosContain{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            div{
                width: 90%;
            }
            .sobreLara{
                width: 90%;
                
            }
        }
        .locacionContain{
            .descriptionMapa{
                width: 100%;
            }
            .mapa{
                display: flex;
                justify-content: center;
                align-items: center;
                iframe{
                    width: 80%;
                }
            }
        }
    }
}
@media screen and (max-width: 750px) {
    .principal{
        .hero{
            min-width: 480px;
            height: 70vh;
            @include background(top, cover, no-repeat);
        }
    }
    
}
@media screen and (max-width: 570px) {
    .principal{    
        .hero{
        text-align: center;
        width: 100%;
        min-width: 480px;
        height: 70vh;
        background-image: url("../img/top-view-colourful-summer-lettering.jpg") ;
        @include background(center, cover, no-repeat);
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
            .heroTitle{
                h1{
                    font-size: 60px;
                }
            }
        }
    }
}
@media screen and (max-width: 490px) {
    .somos{
        .somosContain{
            display: flex;
            align-items: center;
            justify-content: center;
            div{
                width: 90%;
                
            }
            .sobreLara{
                width: 90%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
            }
        }
        .locacionContain{
            min-width: 350px;
            flex-direction: column;
            .descriptionMapa{
                width: 100%;
            }
            .mapa{
                display: flex;
                justify-content: center;
                align-items: center;
                iframe{
                    width: 80%;
                }
            }
        }
    }
}
@media screen and (max-width: 480px) {
    
}




@media screen and (max-width: 380px) {
    .navbar{
        grid-area: menu;
        min-width: 490px;
        position: sticky;
        top: 0;
        max-width: 100%;
    }
    .principal{
        .hero{
            text-align: center;
            width: 100%;
            
            background-image: url("../img/top-view-colourful-summer-lettering.jpg") ;
            @include background(start, contain, no-repeat);
            background-attachment: fixed;
            @include flex(flex, center, center, column);
            flex-wrap: wrap;
            .heroTitle{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                h1{
                    font-weight: 100;
                    color: white;
                    margin-bottom:  20px;
                    font-size: 20px;
                    font-family: 'Dongle', sans-serif;
                }

            
            }
        }
    }
    .destacadosContenedor{
        @include flexcenter(flex, center, center);
        flex-wrap: wrap;
    }

}
@media screen and (max-width: 350px) {
    .navbar{
        grid-area: menu;
        min-width: 500px;
        position: sticky;
        top: 0;
        max-width: 100%;
    }
}


