//*--VARIABLES--*//
$color-principal:  rgb(240, 156, 96);
$color-secundario: rgb(230, 97, 101);
$color-terciario: rgb(134, 134, 134);
$color-cuaternario: #2CAFA2;

//*--LISTAS--*//
$colores:
rgb(240, 156, 96),
rgb(230, 97, 101),
rgb(134, 134, 134), 
white,
dimgrey,
rgb(255, 255, 255),
black,
;

//*--EXTEND--*//
%header{
    text-align: center;
    width: 100vw;
    max-width: 100vw;
    min-width: 500px;
    height: 1.5rem;
    background-color: black;
    color: white;
    p{

        span{
                font-weight: bold;
        }
    }
}

%hidecard{
    
    width: 100%;
    height: 45%;
    border: 1px;
    transition: 600ms;
    background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75));
}
%cardeff{
    transform: translateY(-1%);
    box-shadow:  0 10px 15px -10px rgb(0, 0, 0 / 30%);
}
%cardcat{
    background-position-y: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid rgb(134, 134, 134);
    width: 400px;
    height: 250px;
    margin: 0px;
    text-align: center;
}
%boton{
    text-decoration: none;
    font-weight: bold;
    color:white;
    background-color: dimgray;
    padding: 10px 15px;
    border-radius: 30px;
}
%hoverhero{
    background-color: white; 
    color: dimgray;
}
%hoverbotton{
    background-color: #E66165;
    color: rgb(255, 255, 255);
}
//*--MIXIN--*//

@mixin flexdir($flex, $direction, $align){
    display: $flex;
    flex-direction: $direction;
    align-items: $align;
}

@mixin flexcenter($flex, $justify, $align){
    display: $flex;
    justify-content: $justify;
    align-items: $align;
}
@mixin flex($flex, $justify, $align, $direction){
    display: $flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
@mixin background($position, $size, $repeat){
    background-position: $position;
    background-size: $size;
    background-repeat: $repeat;
}